.banner-container {
  width: 100%;
  background-image: url('../../../assets/photo-couch.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  padding-top: 300px;
  padding-bottom: 250px;
  background-attachment: fixed;
}
