.step-number {
  border-bottom: 3px solid #19ffd8;
  font-size: 45px;
  font-weight: normal !important;
  line-height: 2em;
  margin-bottom: 20px;
}

.message-header {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

.message-text {
  text-align: center;
  color: #484848;
}
